
  <div class="row">

    <div class="col-sm-4">
      <h3>Submit an idea</h3>
      <form action='/' method='POST'>

      <div class="input-group mb-3 input-group w-75">
      <input class= "form-control" type='text' placeholder="Title" name='idea[title]' required/><br/>
      </div>
      <div class="input-group mb-3 input-group w-75">
      <textarea class= "form-control" name='idea[description]' placeholder="Idea" required></textarea><br/>
      </div>
            <div class="input-group mb-3 input-group w-75">
      <input class= "form-control" type='text' placeholder="Tags (separate multiple with ,)" name='idea[tags]'/><br/>
      </div>
      <input type='submit' class="btn btn-outline-secondary"/>
    </form>
    </div>

    <div class="col-sm-4">
      <h3>Existing Ideas</h3>
          <ul>
            <% ideas.each do |idea| %>
          
          <li>
          
          <h6><%= idea.title %></h6>
            <p><%= idea.description %></p>
            <% idea.tags.each do |tag| %>
            <span class="font-italic">#<%= tag %></span>
            <% end %> 
          <div class="container">
              <div class="row">

                <div class="col">
                  <form action='/<%= idea.id %>/like' method='POST' style="display: inline">
                    <input type='submit' class="btn btn-outline-secondary" value="Like"/>
                  </form> 
                </div>

                <div class="col">
                  <a href="/<%= idea.id %>/edit" class="btn btn-outline-secondary" role="button">Edit</a>
                </div>

                <div class="col">
                  <form action='/<%= idea.id %>' method='POST'>
                    <input type="hidden" name="_method" value="DELETE">
                    <input type='submit' class="btn btn-outline-secondary" value="Delete"/>
                  </form>
                  <% end %>
                </div>

            </li>
            </ul>
              </div>
            

          
                

      <div class="col-sm-4">
      <h3>Tags</h3>
      <ul>
      <% tags = Tags.getUnique(ideas) %>
      <% tags.each do |tag| %>
           
     
<button type="button" class="btn btn-outline-secondary">
          
          
          <%= tag %>
          
           </button>    
           <% end %>
           

      </ul>
       
    </div>

  </div>





