    <div class="row">
      <h3>Ideas tagged #<%= tag %> </h3>
      <div class="row">
     <div class="card-columns"> 
      <% ideas.each do |idea| %>
        <div class="card mb-2 mx-auto">
          <div class="card-header"><%= idea.title %></div>
          <div class="card-body"><%= idea.description %></div>
          <div class="card-footer">
            #<%= idea.tags.join(' #')%>
          </div>
          <div class="container">
            <div class="row">
              <div class="col">
                <form action='/<%= idea.id %>/like' method='POST' style="display: inline">
                  <input type='submit' class="btn btn-outline-secondary" value="Like"/>
                </form>
              </div>
              <div class="col">
                <a href="/<%= idea.id %>/edit" class="btn btn-outline-secondary" role="button">Edit</a>
              </div>
              <div class="col">
                <form action='/<%= idea.id %>' method='POST' >
                  <input type="hidden" name="_method" value="DELETE">
                  <input type='submit' class="btn btn-outline-secondary" value="Delete"/>
                </form>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    </div>
</div>

         <div class="row">
      <h5>Combine other tags</h5>
      <div class="row">
      <ul>
        <% tags = Tags.allBut(tag)
        tags.each do |tag| %>
        <form action='/<%== tag %>' method='POST' style="display: inline">
          <input type='submit' class="btn btn-outline-secondary mb-1 " value=" <%= tag %>">
           
          </input>
          </form>
        <% end %>
        
      </ul>
      </div>
      </div>

    <div class="row">
      <h5>View other tags</h5>
      <div class="row">
      <ul>
         <% 
        tags = Tags.allBut(tag)
        tags.each do |tag| %>
        <form action='/<%== tag %>' method='POST' style="display: inline">
          <input type='submit' class="btn btn-outline-secondary mb-1 " value=" <%= tag %>">
           
          </input>
          </form>
        <% end %>
      </ul>
      </div>
</div>

    